.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  grid-auto-flow: dense;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}
